@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "SuisseIntl";
    src: url('/fonts/SuisseIntl-Bold-WebXL.woff2');
    font-weight: 700
}
@font-face {
    font-family: "SuisseIntl";
    src: url('/fonts/SuisseIntl-SemiBold-WebXL.woff2');
    font-weight: 600
}
@font-face {
    font-family: "SuisseIntl";
    src: url('/fonts/SuisseIntl-Medium-WebXL.woff2');
    font-weight: 500
}

@font-face {
    font-family: "SuisseIntl";
    src: url('/fonts/SuisseIntl-Regular-WebXL.woff2');
    font-weight: 400
}

@font-face {
    font-family: "SuisseIntl";
    src: url('/fonts/SuisseIntl-Light-WebXL.woff2');
    font-weight: 300
}
@font-face {
    font-family: "SuisseWorks";
    src: url('/fonts/SuisseWorks-Regular-WebXL.woff2');
    font-weight: 400
}

@font-face {
    font-family: "SuisseWorks";
    src: url('/fonts/SuisseWorks-Medium-WebXL.woff2');
    font-weight: 500
}
@font-face {
    font-family: "SuisseWorks";
    src: url('/fonts/SuisseWorks-Bold-WebXL.woff2');
    font-weight: 700
}



body, .sans{ font-family: "SuisseIntl"; }
.serif{ font-family: "SuisseWorks";}
.light{ font-weight: 300; }
.regular{ font-weight: 400; }
.medium{ font-weight: 500; }
.bold{ font-weight: 700; }

body{
	padding-top: 64px;
}

/* .grad-text{
    background: -webkit-linear-gradient(#0062FF, #9D9D9D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 */
